body {
  font-family: Arial;
  background-color: rgb(48, 48, 48);
  overscroll-behavior: none;
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
h1 {
  color:aquamarine;
}

.dot {
  background-color: black;
  border-radius: 50%; /* Make it a circle */
  width: 6px;
  height: 6px;
  position: absolute;
}